#side_bar
  background  #333
  height      100%
  margin-left -220px
  position    fixed
  width       220px

.brand
  background-color #222
  height           200px
  width            100%

.side-nav
  padding 0.875rem
