.row
  .columns
    section#navigation
      h1 Navigation

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | The navigation component is bootstrap built and responsive.

      .example
        p
          | <strong>How the menu is included:</strong>

        pre.prettyprint.linenums.
          &lt;!-- /WebContent/decorators/layout.jsp --&gt;
          &lt;header&gt;
              &lt;s:action name="Menu!menu" executeResult="true" /&gt;
          &lt;/header&gt;

        p
          | <strong>How the menu is generated:</strong>

        pre.prettyprint.linenums.
          # primary navigation element
          /struts/layout/menu/_menu.jsp

          # drop down — menus & sub-menus
          /struts/layout/menu/_menu-item.jsp

        p
          | <strong>How the menu becomes interactive:</strong>

        pre.prettyprint.linenums.
          /js/pics/layout/menu/menu.js

        p
          | <strong>How the menu gets painted:</strong>

        pre.prettyprint.linenums.
          /sass/pics/layout/_menu.scss

    section#environment_toolbar
      h1 Environment Toolbar

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | The environment toolbar is docked at the bottom of the screen and is responsive.  It is only available to non-stable environments.  The purpose of it is to indicate context and to provide debug information.

      .example
        p
          | <strong>How the environment toolbar is included:</strong>

        pre.prettyprint.linenums.
          &lt;!-- /WebContent/decorators/layout.jsp --&gt;
          &lt;footer&gt;
              &lt;s:include value="/struts/layout/_environment.jsp" /&gt;
          &lt;/footer&gt;

        p
          | <strong>How the toolbar gets painted:</strong>

        pre.prettyprint.linenums.
          /sass/pics/layout/_environment.scss

    section#page_header
      h1 Page Header

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | This is the standard header that is to be include on every page.  The title is mandatory. The subtitle is optional.

      .example
        p
          | <strong>Header with title only:</strong>

        h1.title If they say, why, why? Tell 'em that is human nature

        pre.prettyprint.linenums.
          &lt;s:include value="/struts/layout/_page-header.jsp"&gt;
              &lt;s:param name="title"&gt;If they say, why, why? Tell 'em that is human nature&lt;/s:param&gt;
          &lt;/s:include&gt;

        p
          | <strong>Header with title and sub-title:</strong>

        h1.title Ma cherie amour, distant as the Milky Way
        p.subtitle Ma cherie amour, pretty little one that I adore

        pre.prettyprint.linenums.
          &lt;s:include value="/struts/layout/_page-header.jsp"&gt;
              &lt;s:param name="title"&gt;Ma cherie amour, distant as the Milky Way&lt;/s:param&gt;
              &lt;s:param name="subtitle"&gt;Ma cherie amour, pretty little one that I adore&lt;/s:param&gt;
          &lt;/s:include&gt;

    section#containers
      h1 Containers

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | Containers are a place for you to semantically structure your code consistently and elegantly. <strong>This example is not a substitute for understanding grid systems or scaffolding. It is only meant to be a preview to it.</strong>

      .example
        p
          | <strong>This example was taken from <code>/struts/frontend-development-guide/style-guide/style-guide.jsp</code>:</strong>

        pre.prettyprint.linenums.
          &lt;s:include value="/struts/layout/_page-header.jsp"&gt;
              &lt;s:param name="title"&gt;PICS Style Guide&lt;/s:param&gt;
          &lt;/s:include&gt;

          &lt;s:include value="/struts/frontend-development-guide/_menu.jsp" /&gt;

          &lt;div class="row"&gt;
              &lt;div class="span3"&gt;
                  &lt;s:include value="_menu.jsp" /&gt;
              &lt;/div&gt;
              &lt;div class="span9"&gt;
                  &lt;s:include value="_overview.jsp" /&gt;

                  &lt;s:include value="_typography.jsp" /&gt;

                  &lt;s:include value="_colors.jsp" /&gt;
              &lt;/div&gt;
          &lt;/div&gt;

        p
          | <strong>Not overly used <code>&lt;div.row&gt;</code> elements are not required. A <code>&lt;div.row&gt;</code> is only required when creating nested columns.</strong>

    section#offsets
      h1 Offsets

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | <strong>This example is not a substitute for understanding grid systems or scaffolding. It is only meant to be a preview to it.</strong>

      .example
        p
          | <strong>This example was taken from <code>/struts/report/manage-report/_favorites-list.jsp</code> with a few tweaks:</strong>

        pre.prettyprint.linenums.
          &lt;div class="row"&gt;
            &lt;div class="span5 offset2"&gt;
                &lt;div class="alert alert-info alert-block"&gt;
                    &lt;button type="button" class="close" data-dismiss="alert"&gt;×&lt;/button&gt;

                    &lt;h4&gt;You don't have any favorite reports.&lt;/h4&gt;
                    &lt;p&gt;
                        For quick access to the reports you use most, select the star icon or choose "Favorite" in the report options in My Reports.
                    &lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
