nav#side_bar
  a.brand(href="#")
    img(src="http://www.bobthebuilder.com/uk/images/parents/bob.jpg")

  ul.side-nav
    li
      a(href="#technology") Technology

    li
      a(href="#file-structure") File Structure

    li
      a(href="#routing") Routing

    li
      a(href="#decorators") Decorators

    li
      a(href="#html") HTML

    li
      a(href="#page-layout") Page Layout

    li
      a(href="#style-guide") Style Guide

    li.divider

    li.heading Conventions &amp; Standards

    li
      a(href="#conventions-and-standards/css-javascript") CSS &amp; Javascript

    li
      a(href="#conventions-and-standards/html") HTML

    li
      a(href="#conventions-and-standards/file-structure") File Structure
