.row
  .columns
    section#css
      h1 CSS

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      h4 ID Requirements:

      ul
        li
          | Lower case

        li
          | Words are separated by "_" (underscore)

        li
          | [a-z0-9]+

      .example
        pre.prettyprint.linenums.
          &lt;div id="app_property_list"&gt;&lt;/div&gt;
          &lt;div id="environment"&gt;&lt;/div&gt;
          &lt;form id="login_form"&gt;&lt;/form&gt;

      h4 Class Requirements:

      ul
        li
          | Lower case

        li
          | Words are separated by "-" (hyphen)

        li
          | [a-z0-9]+

      .example
        pre.prettyprint.linenums.
          &lt;div class="page-header"&gt;&lt;/div&gt;
          &lt;pre class="lang-sh"&gt;&lt;/pre&gt;
          &lt;ul class="nav nav-list"&gt;&lt;/ul&gt;

    section#javascript
      h1 Javascript

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      h4 Variable Requirements:

      ul
        li
          | Lower case

        li
          | Words are separated by "_" (underscore)

        li
          | Noun

        li
          | Begins with a letter

        li
          | [a-z][a-z0-9]+

      .example
        pre.prettyprint.linenums.
          var my_variable = true,
              that = this,
              undefined = true;

      h4 Function Requirements:

      ul
        li
          | Camel Case

        li
          | Verb

        li
          | Begins with lower case letter

        li
          | Letters only

      .example
        pre.prettyprint.linenums.
          function getBread() {
              return "loaf";
          }

          var Person = {
              getName: function () {
                  return 'Jeevez';
              }
          };

          // self executing anonymouse function
          (function () {
              alert('hello');
          }());

      h4 Class Requirements:

      ul
        li
          | Camel case

        li
          | Noun

        li
          | Begins with capital letter

        li
          | Letters only

      .example
        pre.prettyprint.linenums.
          var person = Object.create({
              getAge: function () {},
              getFirstName: function () {},
              getFullName: function () {},
              getLastName: function () {}
          });

          function Car() {
              this.doors = '',
              this.model = '',
              this.year = '';
          }

          var car = new Car();
